#####################################################
# Repository Metadata
#####################################################

.git/

#####################################################
# Build Output
#####################################################

**/bin/
**/obj/
artifacts/
publish/

#####################################################
# IDEs and Editors
#####################################################

.vs/
.vscode/
*.user
*.suo

#####################################################
# Test Results
#####################################################

**/TestResults/
*.trx
